/*noinspection ALL*/

@font-face {
    font-family: 'Thedus';
    src: url('/assets/Thedus-CondensedLight.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}


@font-face {
    font-family: 'Thedus';
    src: url('/assets/Thedus-Condensed.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}


@font-face {
    font-family: 'Thedus';
    src: url('/assets/Thedus-Wide.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: expanded;
}

@font-face {
    font-family: 'Thedus';
    src: url('/assets/Thedus-WideLight.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thedus Stencil';
    src: url('/assets/Thedus-StencilWide.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: expanded;
}

@font-face {
    font-family: 'Thedus Stencil';
    src: url('/assets/Thedus-StencilCondensed.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}