@import url(./variables.css);

*, *::before, *::after {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;

    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: var(--clr-2);
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: var(--clr-1);
    box-shadow: -3px 0 8px var(--clr-2);
}

@media (max-width: 1280px) and  (max-height: 720px) {
    :root {
        font-size: 10.3px;
    }
}

@media (min-width: 2560px) and  (min-height: 1440px) {
    :root {
        font-size: 20px;
    }
}

@media (min-width: 3840px) and  (min-height: 2160px) {
    :root {
        font-size: 30px;
    }
}

@media (min-width: 5120px) and  (min-height: 2880px) {
    :root {
        font-size: 41.5px;
    }
}
