@import url(./variables.css);

*, *::before, *::after {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;

    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: var(--clr-2);
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
    background-color: var(--clr-1);
    box-shadow: -3px 0 8px var(--clr-2);
}
